<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>QR Code</title>
<style>
  body{
    background: url('static/image/bg.jpg') no-repeat center center;
    background-size: 130%;
    background.opacity:0.4;
  }
  h1{
    text-align:center;
    justify-content:center;
    margin-top:250px;
    font-size:100px;
    color:white;
    font-family:'lucida sans';
    text-shadow: 2px 2px #0000FF;
  }
  .navbar-brand{
    text-shadow: 8px 8px 8px rgba(0,0,0,0.41);
  }

  .navbar-brand:hover{
    color:black;
  }
</style>
</head>
<body>
    <nav class="navbar-brand">
      <a class="navbar-brand" href="/" style = "font-size:35px; color: white;">HOME</a>
      <a class="navbar-brand" href="crud" style = "font-size:35px; color: white">CRUD</a>
      <a class="navbar-brand" href="qrgen" style = "font-size:35px; color: white">QR Code</a>
      <a class="navbar-brand" href="captcha" style = "font-size:35px; color: white">Captcha</a>
      </nav>
      <h1> Week 2 Report</h1>
      {% comment %} <div>
        <h1 style="text-align: center; margin-top: 75px; color:black; background-color:yellowgreen">This is a Homepage</h1>
        <p style="margin-left: 20px; margin-top: 50px;"><i>In this website i have done the <b>CRUD Operations</b> and <b>QR Code</b> generation</i></p>
      </div> {% endcomment %}
</body>
</html>